.container{
    margin: 0 auto;
    max-width: 296px;
}
html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.main{
    display: block;
}
@imagePath: ~"../img/";

@import "Block/header.less";
@import "Block/hero.less";
@import "Block/about.less";
@import "Block/game.less";
@import "Block/hp.less";
@import "Block/buy.less";
@import "Block/footer.less";